<div class="nav">
	<div class="container">
		<div class="user-info">
			<div class="use-login hide">
				<a href="./use-login.html" >
					欢迎
					<span class="username">
						
					</span>
				</a>
				<a href="javascript:;" id="logout">退出</a>
			</div>
			<div class="use not-login">
				<a href="./user-login.html">登录</a>
				<a href="./rigister.html">注册</a>
			</div>
		</div>
		<ul class="nav-list">
			<li class="nav-item">
				<a href="../cart.html">
					<i class="fa fa-shopping-cart"></i>
					购物车(<span class="cart-num">0</span>)
				</a>
			</li>
			<li  class="nav-item">
				<a href="./user-content.html">个人中心</a>
			</li>
			<li  class="nav-item">
				<a href="../order-list.html">订单数</a>
			</li>
			<li  class="nav-item">
				<a href="">修改密码</a>
			</li>
		</ul>
	</div>
	

</div>