
.shipping{
	width: 100%;
	height: 150px;
	background: #eee;
	margin-top: 20px;
}

.shipping-body{
	padding: 10px;
	margin-top: 20px;
	
}
.shipping-item{
	width: 200px;

	border: 3px dashed #ddd;
	padding: 10px;
	float: left;
	margin-right: 10px;


}
.shipping-item.active{
	background: #ccc;
	border: 3px dashed #f21;
}

.shipping-header{
	border-bottom: 1px dashed #bbb;

}
.shipping-detail{
	margin-top: 5px;
	font-size: 15px;

}
.shopping-option{
	font-size: 14px;
	float: right;
	cursor: pointer;

	/*visibility: hidden;*/
}
.shopping-option:hover{
	visibility: visible;
}
.shopping-option .link:hover{
	color:#f21;
}
.shipping-add{
	width: 200px;

	border: 3px dashed #ddd;
	padding: 10px;
	float: left;
	height: 65px;
	cursor: pointer;
}

.product-header li,
.product-item li,
.product-footer li{
	float: left;
}
.product-header ,
.product-item ,
.product-footer{
	margin-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.product-header{
	height: 80px;
	line-height: 80px;
	background: #ddd;
	font-size: 15px;
	color:#666;
}
.product-item{
	border: 1px solid #ddd;
	height: 80px;
	line-height: 80px;
	font-size: 15px;
	color:#666;
	margin-bottom: 50px;
}
.header-select,
.product-select{
	width: 6%;
}
.header-product,
.product-info{
	width: 54%;
}
.header-price,
.product-price{
	width: 10%;
}
.header-count,
.product-count{
	width: 10%;
}
.header-totalprice,
.product-totalprice{
	width: 10%;
}
.header-option,
.product-option{
	width: 10%;
}
.product-info img{
	width: 60px;
	height: 60px;
	vertical-align: middle;
}
.product-info a{
	text-decoration: none;
	color: #111;
}
.product-count .count-input{
	width: 40px;
	height: 20px;
	outline: none;
	text-align: center;
	font-size: 5px;
}
.count-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #fff;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
.product-footer{
	height: 60px;

	line-height: 60px;
	background: #ddd;
}
.product-footer li {
	margin-right: 10px;
}
.footer-select{
	
}
.footer-option{
	
}
.product-footer #footer-submit{
	float:right ;
	width: 180px;
	height: 60px;
}

.footer-submit .btn{
	display: block;
	height: 60px;
	line-height: 60px;
	width: 80px;
	text-decoration: none;
	float: right;
}
.gohome-btn{
	width: 200px;
	text-decoration: none;
	font-size: 20px;
	margin-left: 500px;
	margin-top: 20px;
}
.delete-one,
.deleteSelect{
	cursor: pointer;
}
/*.cart-footer #footer-submit span{
	float: right;
}*/


.model{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);

}
.container-model{
	width: 400px;
	height: 400px;
	background: #fff;
	margin:100px auto;
	padding: 15px;
}

.model-header{
	height: 60px;
	border-bottom: 1px solid #ddd;
}
.model-header h3{
		float: left;
}
.model-header i{
	float: right;
}
.form-body{
	margin-top: 10px;
	
}
.form-item{

}
.form-item.selete{
	border: none;
}
.form-item .selectAddress{

	width: 80px;

}
.close-btn{
	cursor: pointer;
}