<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %> - kmall电商平台
	</title>
	<%= require("html-loader!./common/header.html")%>

</head>
<body>
	<%= require("html-loader!./common/nav.html")%>

	<%= require("html-loader!./common/search.html")%>
	
	<div class="order-confirm clearfix">
		<div class="container">
			<div class="shipping-box">
				
			</div>
			<div class="product-box">
				
			</div>
			<div class="model-box">
				
							

				</div>
		</div>
	</div>
			
	

	
	<%= require("html-loader!./common/footer.html")%>
</body>
</html>