body{
	color: red;
}
.focus{
	margin-top: 20px;
	margin-bottom: 10px;
}
.container{
	width: 1200px;
	margin:0 auto;
}
.keywords{
	width: 200px;
	height: 340px;
	background: #666;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
	float: left;
}
.keyword-item{
	height: 30px;
	width: 180px;
	padding: 10px 10px;
}
.keyword-item:hover{
	background: #999;
}
.keyword-item .link{
	color: #fff;
	text-decoration: none;
}
.keyword-item .link:hover{
	color: #f10;
}
.banner{
	width: 950px;
	height: 360px;
	background: #fff;
	float: left;
}
.banner li{
	width: 950px;
	height: 360px;
}
.banner li img{
	width: 100%;
	height: 100%;
}

.banner .arrow{
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	line-height: 40px;
}
.banner  .arrow.next{
	position: absolute;
	top: 200px;
	left:  0;
}
.banner .arrow.prev{
	position: absolute;
	top: 200px;
	
	right: 0;
}
.floor{
	width: 1200px;
	
	margin-left: 180px;
}
.floor-wrap{
	
}

.floor-box{
	text-align: center;
	margin-bottom: 10px;

}
.floor-box h3{
	text-align: left;
	border-bottom: 3px solid #ff6700;
	margin-bottom:10px;
}

.floor-item{
	padding: 20px 20px;
	box-sizing: border-box;
	width: 190px;
	height: 300px;
	background: #fff;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;

}
.floor-item:last-child{
	margin-right: 0px;
}
.floor-item  a{
	text-decoration: none;
}
.floor-item p{ 
	color: #000;

 }
.floor-item img{
	margin-top: 20px;
	width: 150px;
	height: 200px;
}