.pagination-box{
	
}
.pagination{
	margin-top: 50px;
	margin-left: 300px;

}
.page-item{
	width: 50px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	border: 1px solid #999;
	color: #000;
	cursor: pointer;
	user-select: none;

}
.active{
	border: 1px solid #ff6700;
}